[submodule "Settings"]
	path = Settings
	url = ../VagrantSettings.git
[submodule "LocalSettings"]
	path = LocalSettings
	url = ../LocalSettings-Vagrant.git
[submodule "InitVagrantWork"]
	path = InitVagrantWork
	url = ../InitVagrantWork.git
