[submodule "Settings"]
	path = Settings
	url = git@gitlab.com:takahiro-itou/VagrantSettings.git
[submodule "LocalSettings"]
	path = LocalSettings
	url = git@gitlab.com:takahiro-itou/LocalSettings-Vagrant.git
[submodule "InitVagrantWork"]
	path = InitVagrantWork
	url = git@gitlab.com:takahiro-itou/InitVagrantWork.git
