[submodule "Settings"]
	path = Settings
	url = ../VagrantSettings.git
[submodule "LocalSettings"]
	path = LocalSettings
	url = ../LocalSettings-Vagrant.git
[submodule "InitVagrantWork"]
	path = InitVagrantWork
	url = ../InitVagrantWork.git
[submodule "tools/hg-convert"]
	path = tools/hg-convert
	url = git@gitlab.com:takahiro-itou/hg-convert.git
